@import './bootstrap.fixed.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~izitoast/dist/css/iziToast.css';

@import './login.css';
@import './home.css';
@import './category.css';
@import './topic.css';

html, body {
  height: 100%;
  margin: 0;
  background: #e4e4e4;
}

.form-error {
  color: red;
  font-weight: bolder;
}

.footer {
  height: 100px;
  background: #3E3F3A;
  margin-top: 50px;
  color: white;
}

.app {
  min-height: 100%;
  margin-bottom: -100px;
}

#root {
  min-height: 100%;
}

.container.page-container {
  min-height: calc(100vh - 154px);
}