@import './bootstrap.fixed.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~izitoast/dist/css/iziToast.css';

@import './login.css';
@import './home.css';
@import './category.css';
@import './topic.css';

html, body {
  height: 100%;
  margin: 0;
  background: #e4e4e4;
}

a {
  color: #3E3F3A;
  text-decoration: none;
}

a:hover {
  color: #3E3F3A;
}

.form-error {
  color: red;
  font-weight: bolder;
}

.footer {
  height: 100px;
  background: #3E3F3A;
  color: white;
}

.app {
  min-height: 100%;
  margin-bottom: -100px;
}

#root {
  min-height: 100%;
}

.container.page-container {
  min-height: calc(100vh - 54px);
  padding-bottom: 50px;
}

.btn {
  border-radius: 0;
}

.btn:hover {
  box-shadow: 1px 3px 5px 0px rgba(133, 133, 133, 0.5);
}